//META{"name":"HideoutInZone","description":"Motyw inspirowany serią gier S.T.A.L.K.E.R.","author":"Revter","version":"2.0"}*//{}

/* IMPORT CSS'A Z GITHUB.COM */
@import url(https://github.com/Nysaas/HideoutInZone/blob/master/main.css);

/* == ZMIANY KOLORYSTYCZNE == */
:root {
	--main-color: #e67a27;
	--hover-color: #b35d1e;
    --background-blur: 1px;
    --background-brightness: 150%;
}

/* == ZMIANY TŁA == */
body::after,
.callout-backdrop,
.userPopout-11hFKo::before,
.userPopout-3XzG_A::before,
.root-SR8cQa::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label {
    background-image: url(https://pre00.deviantart.net/0040/th/pre/f/2015/284/b/f/stalker_fan_art_by_llirik_13-d9ctsnu.jpg) !important; /* WAŻNE: LINK MUSI BYĆ Z HTTPS! */
}

