//META{"name":"HIZ wer. 2","description":"Motyw inspirowany serią gier S.T.A.L.K.E.R.","author":"Revter","version":"2.0","website":"http://discord.gg/BzbGCEP"}*//{}

@import url(https://raw.githubusercontent.com/Nysaas/HideoutInZone/master/main.css);  /* Import your rawgit link here */

:root {
    --background: url(https://pre00.deviantart.net/0040/th/pre/f/2015/284/b/f/stalker_fan_art_by_llirik_13-d9ctsnu.jpg);  /*Wallpaper.*/
    --font-size: 16px ;
	--text:  #fff(255, 255, 255);}
	
/*  Everything above this line should be in your MyTheme.theme.css  Everything else goes in MyTheme.css for import */

.appMount-3VJmYg {background: var(--background) center/cover no-repeat;animation: none;} /* Places a background colour or image. */
.markup:not(code) {font-size: var(--font-size)!important;}  /* Changes font size of user text, not including code. */
.theme-dark .message-group .comment .markup {color: var(--text)} /* Text colour */

/* Transparency for most areas*/
#friends .friends-table, .loading-316uYQ, .chat .content, .chat, .content .flex-spacer,.videoBackgroundWrapper-2dCt49, 
.messages-wrapper, .typing-2GQL18,.wrapper-29NfPK,.container-PNkimc, .headerBar-UHpsPw,.video-1kutKI, 
.titleBar-AC4pGV, .titleWrapper-1l0xT9 .title-3qD0b-, .search-results-wrap .search-result::before, .search-results-wrap .search-result::after,
.search-results-wrap .channel-name,.titleWrapper-1l0xT9,.title-3qD0b-, .titleCall-_b9o8P,#voice-connection, #friends, .friends-header, .friends-table,.activityFeed-28jde9,
.scroller-2FKFPG,.theme-dark .header-1RC2Wb,.theme-dark .card-7JP0BX, .guilds-wrapper, .guild-header header, 
.channels-wrap,.private-channels .search-bar, .private-channels, .guild-channels, .account, .friend-table-add-header,.content, 
.title-wrap:not(.search-bar), .messages-wrapper, .messages .divider span, .messages .divider:before, .message-group-blocked, 
.is-local-bot-message,.channel-members-loading, .channel-members-loading .heading, .channel-members-loading .member, 
.typing, .container-RYiLUQ, .theme-dark .ui-standard-sidebar-view, .theme-dark .channel-members,.container-2OU7Cz,
.theme-dark .chat form, .channels-3g2vYe, .theme-dark .friends-table,.theme-dark .messages-wrapper, .content .flex-spacer, 
.theme-dark .chat>.content, .theme-dark .chat, .channel-members, .search .search-bar, .container-iksrDt,.video-1FfuMD,
.container-3lnMWU, .theme-dark .title-qAcLxz, .theme-dark .typing-3eiiL_,.theme-dark .activityFeed-HeiGwL,
.theme-dark .headerBar-cxbhPD,.theme-dark .lfg-3xoFkI,.video-3lOWa6,.theme-dark .private-channel-call,.container-2lgZY8,
.channels-Ie2l6A,.container-2Thooq,.theme-dark .typing-2GQL18,
.search-bar.search-bar-light,.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S,.theme-dark .members-1998pB{
  background: transparent !important;}
  
  /* Layer for brightness/darkness/color */
.noChannel-Z1DQK7, .activityFeed-HeiGwL, .lfg-3xoFkI, 
.layers-3iHuyZ, .layer-3QrUeG, .container-2lgZY8, 
.content-region, .search-l1Wz-Q .search-bar, 
.chat .inner-zqa7da,.search-results-wrap, .search-results-wrap .search-header, 
.search-results-wrap .search-result-message.hit, .sidebar-region, .ui-standard-sidebar-view {background: rgba(0, 0, 0, 0.4) !important;}  

.titleBar-AC4pGV::after {content:""; position:absolute; z-index:-1; top:0; left:0; right:0; width:100%; height:22px; background: rgba(0, 0, 0, 0.61) !important;} 
.theme-dark .card-2WxYqG {background-color: rgba(54, 57, 63, 0.3)!important;}
.theme-dark .layer-3QrUeG,.theme-dark .layers-3iHuyZ, .typeWindows-15E0Ys {background: rgba(0, 0, 0, 0.2) !important;}
.search-results-wrap .search-result-message.hit {box-shadow:none !important;} 

/* Scrollbars */
::-webkit-scrollbar-thumb {border-color: transparent !important; background: rgba(0,0,0,0.4) !important;} 
::-webkit-scrollbar, ::-webkit-scrollbar-track-piece {border-color: transparent !important; background: transparent !important;} 
::-webkit-scrollbar-corner {display: none !important;}

.guilds-wrapper .guild-separator:after {display:none}
.private-channels .channel .channel-name {opacity:1}
.nameDefaultText-24KCy5, .nameDefaultVoice-3WUH7s, .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1 {color: #cccccc;}
